$colorWhite: #FFFFFF;
$colorLightBrown: #E0BEA2;
$colorBlack: #252525;
$colorActiveElement: #CCA88A;
$colorButtonBlue: #6F83A4;
$colorButtonGold: #F1DDAA;
$colorBlackTransparent:rgba(37, 37, 37, 0.5);
