@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700&display=swap');
@import 'vars';

body {
    font-family: 'Raleway', sans-serif;
}

.center {
    padding-left: calc(50% - 1140px/2);
    padding-right: calc(50% - 1140px/2);
}

@import 'main-page'